{% load static %}

<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Створити завдання</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<header class="header">
    <h1>Створити завдання</h1>
    <p>Завдання для самостійної роботи студента</p>
</header>

<div class="container">
    <div class="card">
        <a href="/teacher-dashboard/" class="btn btn-dark">Кабінет викладача</a>
        <a href="/teacher-dashboard/create-practice/" class="btn">Створити практичну</a>
    </div>

    <div class="card">
        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="action" value="assignment">
            {{ assignment_form.as_p }}
            <button type="submit" class="btn">Додати завдання</button>
        </form>
    </div>
</div>

<script src="{% static 'js/theme.js' %}"></script>

</body>
</html>
