{% load static %}

<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Створити урок</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<header class="header">
    <h1>Створити урок</h1>
    <p>Матеріал уроку, банер, відео, PDF та презентація</p>
</header>

<div class="container">
    <div class="card">
        <a href="/teacher-dashboard/" class="btn btn-dark">Кабінет викладача</a>
        <a href="/teacher-dashboard/create-course/" class="btn">Створити курс</a>
    </div>

    <div class="card">
        <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" name="action" value="lesson">

    {{ form.as_p }}
    {{ lesson_form.as_p }}

    <button type="submit" class="btn">
        Додати урок
    </button>
</form>
    </div>
</div>

<script src="{% static 'js/theme.js' %}"></script>

</body>
</html>